* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


#simple_box{
    padding: 20px;
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    border: 2px solid black;
    height: 200px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}