
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


div#root{
  margin: 0;
  padding: 0;
}

.box{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title{
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
}


.key_box{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions{
  display: flex;
  width: 40%;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.title_question{
  font-size: x-large;
  font-weight: 400;
  font-family: "Pixelify Sans", sans-serif;
  user-select: none;
}

.answear_box{
  display: flex;
  width: 40%;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Roboto Slab", serif;
  font-size: larger;
  background-color: #ececec;
  color: black;
  transition: opacity 0.3s ease;
  text-align: left;
}


.icon{
  margin-left: auto;
  margin-right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
